body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    background-color: #99FFFF;
}

/* Heading/sub heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
}

.rules {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

/* buttons */

button {
    height: 100px;
    width: 100px;
    background-color: #fafafa;
    border-radius: 10px;
    margin: 2%;
}

i {
    zoom: 300%;
}

/* controls area */

.controls-area {
    padding-top: 20px;
}

/* reveal area */


/* score area */

p {
    font-size: 1.5rem;
    display: inline-block;
    padding-left: 300px;
    padding-right: 300px;
    font-weight: bold;
}

#won {
    color: #66CC00;
}

#lost {
    color: #FF0000
}
